.wrapper{
    display: flex;
    justify-items: center;
    align-items: flex-start;
    height: 100%;
}

.config, .result {
    padding: 3rem;
    width: 50%;
    height: 100vh;
}

.config {
    background-color: #203d65;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.result {
    background-color: #f7f7f7;
    overflow-y: auto;
}

.paramTitle{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.90);
    text-transform: uppercase;
    margin-left: 0.75rem;
    margin-bottom: 1.5rem ;
}

.resultTitle{
    font-size: 2.5rem;
    font-weight: 800;
    color: #203d65;
    text-transform: uppercase;
    margin-left: 0.75rem;
    margin-bottom: 1.5rem ;
}

.resultWrapper .resultTitle{
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(32, 61, 101, 0.75);
    text-transform: capitalize;
    margin-left: 0.75rem;
    margin-bottom: 1.5rem ;
}


.resultWrapper{
    padding: 3rem;
    background-color: rgba(32, 61, 101, 0.1);
    border-radius: 2rem;
    width: 100%;
    min-height: calc(100% - 6rem);
}

.resultWrapper .matriz{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #203d65 ;
    border-right: 1px solid #203d65 ;
    padding: 1rem;
    width: fit-content;
    gap: 0.5rem;
}

.resultWrapper .fila{
    display: flex;
    gap: 0.5rem;
}

.resultWrapper .digito{
    color: #203d65;
    min-height: 50px;
    min-width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(32, 61, 101, 0.2);
    border-radius: 0.5rem;
}

.resultWrapper .soluciones{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.resultWrapper .solucion{
    padding: 0.5rem 1rem;
    color: #203d65;
    background-color: rgba(32, 61, 101, 0.2);
    border-radius: 0.5rem;
}

.operationsWrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.paramWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 2rem;
    width: 100%;
}

.matriz{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #fff ;
    border-right: 1px solid #fff ;
    padding: 1rem;
    width: fit-content;
    gap: 0.5rem;
}

.fila{
    display: flex;
    gap: 0.5rem;
}

.digito{
    min-height: 50px;
    min-width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
}

.paramButtom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1.5rem;
    transition: all ease 0.3s;
}

.paramButtom:hover{
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
}

.calc{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.5rem;
    transition: all ease 0.3s;
}

.calc:hover{
    background-color: rgba(0, 0, 0, 0.35);
    color: #1A9FFF;
}