.wrapper {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}

.menu{
    width: var(--navbar-width);
    height: 100%;
}

.contentWrapper{
    width: calc(100% - var(--navbar-width));
}