.wrapper {
    display: flex;
    justify-items: center;
    align-items: flex-start;
}

.config, .result {
    width: 50%;
    height: 100vh;
}

.config {
    background-color: #eee;
}

.result {
    background-color: #f7f7f7;
    overflow-y: auto;
}