.navbar {
    width: var(--navbar-width);
    height: 100%;
    overflow-y: auto;
    background-color: #1A9FFF;
    padding: 1rem 0.5rem;
}

.menuWrapper{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0.75rem;
    margin: 0.5rem;
    border-radius: 1rem;
    transition: all ease 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.MenuDisable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0.75rem;
    margin: 0.5rem;
    border-radius: 1rem;
    transition: all ease 0.3s;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
}

.menu:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.IconDisable{
    filter: opacity(0.35);
}

.title{
    font-size: 0.65rem;
    font-weight: 600;
    color: #111;
}

.TitleDisable{
    font-size: 0.65rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.35);
}